<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarote.crm.mapper.CustomerStatsMapper">

    <select id="selectCustomerStats" resultType="com.kakarote.core.feign.crm.entity.CustomerStats">
        SELECT
            COUNT(1) AS customer_num,
            DATE_FORMAT( a.create_time, '%Y%m%d' ) AS create_date,
            DATE_FORMAT( a.deal_time, '%Y%m%d' ) AS deal_date,
            a.deal_status,
            a.owner_user_id
        FROM
            wk_crm_customer AS a
        WHERE
            a.STATUS != 3
            AND( a.customer_id BETWEEN  #{startId} AND  #{endId} )
        GROUP BY
            create_date,
            deal_date,
            a.deal_status,
            a.owner_user_id
        ORDER BY
            create_date DESC
    </select>

    <select id="countCustomerStats" resultType="java.lang.Long">
        SELECT COUNT(1) FROM ${tableName}
    </select>

    <select id="maxCustomerId" resultType="java.lang.Long">
        SELECT MAX(customer_id) FROM wk_crm_customer
    </select>


    <update id="createTableForCustomerStats">
        CREATE TABLE  ${tableName}  (
        `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
        `customer_num` bigint(20) NULL DEFAULT NULL COMMENT '客户数量',
        `deal_status` int(2) NULL DEFAULT NULL COMMENT '成交状态 0 未成交 1 已成交',
        `owner_user_id` int(11) NULL DEFAULT NULL COMMENT '负责人ID',
        `create_date` varchar(8) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL COMMENT '创建时间 年月日',
        `deal_date` varchar(8) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL COMMENT '创建时间 年月日',
        PRIMARY KEY (`id`) USING BTREE,
        INDEX `id`(`id`) USING BTREE,
        INDEX `create_date`(`create_date`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 7432 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = DYNAMIC;
    </update>

    <insert id="saveBatchByCustomerStats" parameterType="java.util.Map">
        INSERT INTO ${map.tableName} ( `customer_num`, `deal_status`, `owner_user_id`, `create_date`,`deal_date`)
        VALUES
        <foreach collection="map.customerStatsList" separator="," item="customerStats">
                ( #{customerStats.customerNum}, #{customerStats.dealStatus},#{customerStats.ownerUserId},
                 #{customerStats.createDate},#{customerStats.dealDate})
        </foreach>
    </insert>
</mapper>