<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarote.admin.mapper.AdminRoleMapper">
    <select id="getRoleMenu" resultType="java.lang.Integer">
        select b.menu_id
        from wk_admin_role_menu as a inner join wk_admin_menu as b on a.menu_id = b.menu_id
        where a.role_id = #{roleId}
          and (b.parent_id in (SELECT menu_id FROM wk_admin_menu WHERE parent_id = #{parentId}) or b.parent_id = #{parentId})
    </select>

    <select id="queryDataType" resultType="java.lang.Integer">
        select data_type from wk_admin_role as a
        inner join wk_admin_user_role as b on a.role_id = b.role_id
        <if test="menuId!=null">
            inner join wk_admin_role_menu as c on a.role_id = c.role_id
        </if>
        where b.user_id = #{userId}
        <if test="menuId!=null">
            and c.menu_id = #{menuId}
        </if>
        ORDER BY data_type desc
    </select>
    <select id="queryMaxDataType" resultType="java.lang.Integer">
        select max(data_type) as data_type from wk_admin_role as a
        inner join wk_admin_user_role as b on a.role_id = b.role_id
        <if test="menuId!=null">
            inner join wk_admin_role_menu as c on a.role_id = c.role_id
            inner join wk_admin_menu AS d ON c.menu_id = d.menu_id
            inner join wk_admin_menu AS f ON f.menu_id = d.parent_id
        </if>
        where b.user_id = #{userId}
        <if test="menuId!=null">
            and (c.menu_id =#{menuId} OR f.menu_id =#{menuId})
        </if>
        ORDER BY data_type desc
    </select>
    <select id="queryUserRoleListByUserId" resultType="com.kakarote.admin.entity.PO.AdminMenu">
        SELECT
            k.data_type,
            k.menu_id,
            am.menu_name,
            am.parent_realm as realm
        FROM
            (
                SELECT
                    t.*, arm.menu_id
                FROM
                    (
                        SELECT DISTINCT
                          b.data_type,
                          b.role_id
                        FROM
                          wk_admin_user_role AS a
                          JOIN wk_admin_role  AS b ON a.role_id = b.role_id and user_id =#{userId}
                    ) t
                LEFT JOIN wk_admin_role_menu arm ON t.role_id = arm.role_id
            ) k
        INNER JOIN (SELECT x.*,y.realm as parent_realm from wk_admin_menu as x LEFT JOIN wk_admin_menu as y on x.parent_id = y.menu_id) am ON k.menu_id = am.menu_id
        WHERE
        1=1
        <if test="realm!=null and realm!=''">
            and am.parent_realm = #{realm} and am.realm = 'index'
        </if>
        ORDER BY
            k.data_type DESC
    </select>
    <delete id="deleteWorkRole" >
        update `wk_work_user` set role_id = #{roleId} where role_id = #{editRoleId}
    </delete>
    <select id="queryRoleList" resultType="com.kakarote.admin.entity.PO.AdminRole">
         select role_id,role_name,remark from wk_admin_role where role_type in (5,6) and status = 1
    </select>
    <select id="queryRoleByRoleTypeAndUserId" resultType="com.kakarote.admin.entity.PO.AdminRole">
        select a.* from wk_admin_role a
                             join wk_admin_user_role b on a.role_id = b.role_id
        where a.role_type = #{type} and b.user_id = #{userId}
    </select>
    <select id="queryHrmDataAuthType" resultType="java.lang.Integer">
        SELECT ifnull(max(k.data_type),0) as data_type
        FROM (
                 SELECT t.*,
                        arm.menu_id
                 FROM (
                          SELECT DISTINCT b.data_type,
                                          b.role_id
                          FROM wk_admin_user_role AS a
                                   JOIN wk_admin_role AS b ON a.role_id = b.role_id
                              and user_id = #{userId} and role_type = 9 and label = 92
                      ) t
                          LEFT JOIN wk_admin_role_menu arm ON t.role_id = arm.role_id
             ) k
                 INNER JOIN (SELECT x.*, y.realm as parent_realm
                             from wk_admin_menu as x
                                      LEFT JOIN wk_admin_menu as y on x.parent_id = y.menu_id) am ON k.menu_id = am.menu_id
        WHERE 1 = 1 and am.parent_id = #{menuId}
        group by am.parent_id
    </select>
</mapper>
