<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://www.72crm.com/mybatis-3.5.3-mapper.dtd">
<mapper namespace="com.kakarote.bi.mapper.BiMapper">
    <select id="queryProductSell" resultType="com.alibaba.fastjson.JSONObject">
        SELECT scp.product_id,scpc.name as categoryName, scpc.category_id,
        scp.name as productName, scc.num as contracNum ,
        sccp.sales_price as productPrice ,sccp.num as productNum,
        sccp.subtotal as productSubtotal,
        scc.contract_id,
        scc.customer_id,
        scc.owner_user_id
        FROM wk_crm_product as scp
        LEFT JOIN wk_crm_contract_product as sccp on sccp.product_id = scp.product_id
        LEFT JOIN wk_crm_contract as scc on scc.contract_id = sccp.contract_id
        LEFT JOIN wk_crm_product_category as scpc on scpc.category_id = scp.category_id
        where DATE_FORMAT(scc.order_date,#{sqlDateFormat}) between #{beginTime} and #{finalTime}
        and scc.owner_user_id in
        <for collection="userIds" item="item">
            #{item}
        </for>
        order by scp.category_id,scp.product_id
    </select>
    <select id="taskCompleteStatistics" resultType="com.alibaba.fastjson.JSONObject">
        <foreach collection="map" item="x" index="i" separator="union all">
            select '${x.remark}' as month,
            IFNULL(a.${x.name}, 0) as achievement,
            b.receivables as money,
            IFNULL(ROUND(b.receivables / IFNULL(a.${x.name}, 0) * 100, 2), 0) as rate
            from wk_crm_achievement as a,
            <choose>
                <when test="type == 3">
                    <choose>
                        <when test="status == 1">
                            (select IFNULL(SUM(money), 0) as receivables
                            from wk_crm_contract
                            where owner_user_id = #{userId}
                            and DATE_FORMAT(order_date, '%Y%m') = CONCAT('${year}', '${x.value}')
                            and check_status = 1) as b
                        </when>
                        <when test="status == 2">
                            (select IFNULL(SUM(money), 0) as receivables
                            from wk_crm_receivables
                            where owner_user_id = #{userId}
                            and DATE_FORMAT(return_time, '%Y%m') = CONCAT('${year}', '${x.value}')
                            and check_status = 1)       as b
                        </when>
                    </choose>
                </when>
                <when test="type == 2">
                    <choose>
                        <when test="status == 1">
                            (select IFNULL(SUM(a.money), 0) as receivables
                            from wk_crm_contract as a
                            inner join wk_admin_user as b on a.owner_user_id = b.user_id
                            where b.dept_id = #{deptId}
                            and DATE_FORMAT(order_date, '%Y%m') = CONCAT('${year}', '${x.value}')
                            and check_status = 1) as b
                        </when>
                        <when test="status == 2">
                            (select IFNULL(SUM(a.money), 0)  as receivables
                            from wk_crm_receivables as a
                            inner join wk_admin_user as b on a.owner_user_id = b.user_id
                            where b.dept_id = #{deptId}
                            and DATE_FORMAT(return_time, '%Y%m') = CONCAT('${year}', '${x.value}')
                            and check_status = 1) as b
                        </when>
                    </choose>
                </when>
            </choose>
            where a.obj_id = #{objId}
            and a.type = #{type}
            and a.year = ${year}
            and a.status = #{status}
        </foreach>
    </select>
</mapper>
