<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kakarote.hrm.mapper.HrmSalaryChangeTemplateMapper">

    <select id="queryChangeSalaryOption" resultType="com.kakarote.hrm.entity.VO.ChangeSalaryOptionVO">
        select code,name from wk_hrm_salary_option where parent_code between 10 and 90 order by code
    </select>
</mapper>
